body {
    font-family: 'Trebuchet MS',sans-serif;
    background-color: #bd5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #73b0d6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.task-text {
    flex: 1;
    margin-left: 10px;
}

.task-completed {
    text-decoration: line-through;
    color: #999;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f44336;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    display: none;
}

li:hover .edit-button, li:hover .delete-button {
    display: inline;
}